@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* answer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* separate rulesets */

.header,
.footer {
  /* align-self: flex-start; */

  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.content {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
}

button {
  padding: 10px;
}

.left-links,
.right-links {
  display: flex;
  /* justify-content: flex-start; */
  gap: 18px;
}

.footer {
  background-color: #eeeeee;
}

ul {
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  /* color: black; */
  color: #666;
  text-decoration: none;
}



